@model IEnumerable<ocLBlog.Entities.Models.SocialMedia>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <i class="fa fa-envelope"></i>
        <p>@item.MailAddress</p>
    </li>
    <li>
        <i class="fa fancybox-image"></i>
        <p>
            <a href="@item.Facebook" target="_blank">
                <img src="~/img/facebook.jpg" class="img-circle" style="max-height:40px;min-height:40px;max-width:40px;min-width:40px" />
            </a>
            <a href="@item.Instagram" target="_blank">
                <img src="~/img/instagram.jpg" class="img-circle" style="max-height:40px;min-height:40px;max-width:40px;min-width:40px" />
            </a>
            <a href="@item.LinkedIn" target="_blank">
                <img src="~/img/linkedin.jpg" class="img-circle" style="max-height:40px;min-height:40px;max-width:40px;min-width:40px" />
            </a>
            <a href="@item.GitHub" target="_blank">
                <img src="~/img/github.jpg" class="img-circle" style="max-height:40px;min-height:40px;max-width:40px;min-width:40px" />
            </a>
            @*<a href="@item.Udemy" target="_blank">
                <img src="~/img/udemy.jpg" class="img-circle" style="max-height:40px;min-height:40px;max-width:40px;min-width:40px" />
            </a>*@
        </p>        
    </li>
}
